.element__like-button {
  background: white;
  border: none;
  font-size: 24px;
}

.element__like-button:before {
  content: "\2661";
}

.element__like-button:hover {
  color: grey;
  cursor: pointer;
}

.element__like-button:active:before {
  content: "\2665";
  cursor: pointer;
  color: black;
}
