.profile {
  max-width: 69%;
  min-height: 120px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .profile {
    margin: 10px auto 0 auto;
    max-width: 85%;
  }


@media screen and (max-width: 800px) {
  .profile {
    flex-direction: column;
    max-width: 88%;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin: 38px auto 0 auto;
  }
  
}