.profile {
  max-width: 69%;
  min-height: 120px;
  padding-top: 38px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .profile {
  
    max-width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    flex-direction: column;
    max-width: 88%;
  }
}

