.elements {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(2, 1fr);
  gap: 17px;
  padding-top: 50px;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .elements {
    max-width: calc(100% - 2 * 30px);
  }
}

@media screen and (max-width: 1000px) {
  .elements {
    max-width: calc(100% - 2 * 10px);
  }
}

@media screen and (max-width: 920px) {
  .elements {
    max-width: calc(100% - 2 * 10px);
  }
}

@media screen and (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, 1fr);
    max-width: calc(100% - 2 * 10px);
  }
}

@media screen and (max-width: 665px) {
  .elements {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, 1fr);
    max-width: calc(100% - 2 * 40px);
    gap: 10px;
  }
}

@media screen and (max-width: 636px) {
  .elements {
    grid-template-columns: 1fr;
    max-width: calc(100% - 2 * 145px);
  }
}

@media screen and (max-width: 500px) {
  .elements {
    grid-template-columns: 1fr;
    max-width: calc(100% - 2 * 80px);
  }
}

@media screen and (max-width: 500px) {
  .elements {
    grid-template-columns: 1fr;
    max-width: calc(100% - 2 * 50px);
  }
}

@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: 1fr;
    max-width: 88%;
    gap: 20px;
    padding-top: 36px;
  }
}
