.popup__close-button {
  position: absolute;
  background: none;
  border: 0;
  left: 100%;
  top: -35px;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 1s;
}

@media screen and (max-width: 786px) {
  .popup__close-button {
    left: 90%;
    top: 80px;
  }
}

@media screen and (max-width: 320px) {
  .popup__close-button {
    left: 86%;
  }
  
}